In [1]:
l = ["name","emailid","phoneno","address"]
for i in l:
    print(i)

name
emailid
phoneno
address

In [2]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

**ForElse Statement**

In [3]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will come to else")

name
emailid
phoneno
address
if for loop is not going to complete itself then it will come to else

In [5]:
for i in l:
    if i=="emailid":
        break
    print(i)
else:
    print("if for loop is going to complete itself then it will come to else")

name

In [8]:
s="rajesh"
for i in s:
    if i == "j":
        break
    print(i)
else:
    print("dont execute is unless and untill it is not printing my name")

r
a

**While Loop**

In [9]:
a = 1
while a<6:
    print(a)
    a=a+1

1
2
3
4
5

In [12]:
a=1
while a<5:
    print(a)
    if a==4:
        break
    a=a+1

1
2
3
4

In [13]:
#Infinite Loop statement
a=1
while a<5:
    print(a)
    if a==3:
        continue
    a=a+1

1
2
3
4

In [14]:
while a<5:

SyntaxError: incomplete input (2347557020.py, line 1)

In [15]:
while a<5:
    pass

In [17]:
while a<4:
    break

In [25]:
while a<4:
    continue

In [31]:
range(6)

range(0, 6)

In [32]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [34]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [36]:
list(range(4,25,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [38]:
list(range(15,10,-1))

[15, 14, 13, 12, 11]

In [39]:
list(range(30,10,-5))

[30, 25, 20, 15]

**Patterns**

In [41]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *

In [46]:
l = [1,2,3,45]
for i in range(len(l)):
    print(i,l[i])

0 1
1 2
2 3
3 45

In [52]:
# Print list in reverse
for i in range(len(l)-1,-1,-1):
    print(i,l[i])

3 45
2 3
1 2
0 1

In [53]:
d={"a":"rajesh","b":"sadasd","c":[1,2,3,4],"d":(4,5,6,7),"e":"rajesh"}

In [54]:
for i in d:
    print(i)

a
b
c
d
e

In [55]:
for i in d:
    print(i,d[i])

a rajesh
b sadasd
c [1, 2, 3, 4]
d (4, 5, 6, 7)
e rajesh

In [56]:
d.items()

dict_items([('a', 'rajesh'), ('b', 'sadasd'), ('c', [1, 2, 3, 4]), ('d', (4, 5, 6, 7)), ('e', 'rajesh')])

In [57]:
for i in d.items():
    print(i)

('a', 'rajesh')
('b', 'sadasd')
('c', [1, 2, 3, 4])
('d', (4, 5, 6, 7))
('e', 'rajesh')

In [58]:
s={3,54,54,54,54,3,5,6,54,3,4,5,6,34}

In [59]:
s

{3, 4, 5, 6, 34, 54}

In [60]:
s[0]

TypeError: 'set' object is not subscriptable

In [61]:
for i in s:
    print(i)

34
3
4
5
6
54