List - []
Tuples - ()
Set - {}
Dict - {}

Tuples:
- Doesn't support item assignment (Immutable Collection)
- Concatenation or appending of tuples is possible
- Tuple will only have 2 functions index() and count()


Set:
- Collection which won't allow duplicate elements
- 'set' object is not subscriptable (unorder collection)
- Set doesn't allow list/set as member(Since it is mutable), Only tuple is allowed

Dict:

In [1]:
t = (1,2,3,4)
type(t)

tuple

In [4]:
a = ["124",12]
a
type(a)

list

In [6]:
t1 = ("raj",12,1+5j,24.20,True)
l = ["raj",12,1+5j,24.20,True]
print(type(t1))
print(type(l))

<class 'tuple'>
<class 'list'>

In [7]:
t2 = ()
type(t2)

tuple

In [8]:
l

['raj', 12, (1+5j), 24.2, True]

In [9]:
l[0:2]

['raj', 12]

In [10]:
t1[0:2]

('raj', 12)

In [11]:
t1[::-1]

(True, 24.2, (1+5j), 12, 'raj')

In [12]:
t1[-1]

True

In [13]:
t1[::2]

('raj', (1+5j), True)

In [14]:
l

['raj', 12, (1+5j), 24.2, True]

In [15]:
l1 = [4,5,6,7]

In [16]:
l[0]

'raj'

In [17]:
l[0]="kumar"

In [18]:
l

['kumar', 12, (1+5j), 24.2, True]

In [19]:
t1[0] = "kumar"

TypeError: 'tuple' object does not support item assignment

In [20]:
t2 = (34,56,56)

In [21]:
t1+t2

('raj', 12, (1+5j), 24.2, True, 34, 56, 56)

In [22]:
t1*2

('raj', 12, (1+5j), 24.2, True, 'raj', 12, (1+5j), 24.2, True)

In [27]:
print(t1.count("raj"))

1

In [28]:
t1.index(12)

1

In [29]:
len(t1)

5

In [30]:
l3 = list(t)
l3

[1, 2, 3, 4]

In [31]:
t = (1,2,(3,4))

In [32]:
t

(1, 2, (3, 4))

In [33]:
t1 = ([3,4,5,6],("raj",43,56),"raj")

In [34]:
t1[0][2] = 10
t1

([3, 4, 10, 6], ('raj', 43, 56), 'raj')

In [35]:
t1[0][2] = "raj"
t1

([3, 4, 'raj', 6], ('raj', 43, 56), 'raj')

Sets

In [36]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,6,1,2,3]

In [37]:
s= set(l)
s

{1, 2, 3, 4, 5, 6, 76}

In [38]:
s1 = {"raj",1,2,"raj"}

In [39]:
s1

{1, 2, 'raj'}

In [40]:
type(s1)

set

In [41]:
s= {}
type(s)

dict

In [42]:
type(s1)

set

In [43]:
s2= {1,2,3,4,54,4,2,3,4,54}
s2

{1, 2, 3, 4, 54}

In [44]:
s2[2]

TypeError: 'set' object is not subscriptable

In [45]:
s2.add(22)

In [46]:
s2

{1, 2, 3, 4, 22, 54}

In [47]:
s2.add("raj")

In [48]:
s2

{1, 2, 22, 3, 4, 54, 'raj'}

In [49]:
s2.add([1,2,3])
s2

TypeError: unhashable type: 'list'

In [50]:
s2.add((1,2,3))
s2

{(1, 2, 3), 1, 2, 22, 3, 4, 54, 'raj'}

In [51]:
s2.add({1,2,3})
s2

TypeError: unhashable type: 'set'