In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(34,32,23,4,5)

(34, 32, 23, 4, 5)

In [3]:
def test1(*args):
    return args

In [4]:
test1(1,2,3,4)

(1, 2, 3, 4)

In [5]:
test1("rajesh",12,3.4)

('rajesh', 12, 3.4)

In [6]:
def test3(*raj,a):
    return raj,a

test3(12,23,454)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [7]:
test3(12,23,a=454)

((12, 23), 454)

In [8]:
test3(a=2,3,4,5)

SyntaxError: positional argument follows keyword argument (912774606.py, line 1)

In [9]:
def test5(a,*raj,b,c):
    return a,raj,b,c

In [10]:
test5("asd",[2,3,4,5],435,23,54,5,3)

TypeError: test5() missing 2 required keyword-only arguments: 'b' and 'c'

In [11]:
test5("asd",[2,3,4,5],435,23,54,b=5,c=3)

('asd', ([2, 3, 4, 5], 435, 23, 54), 5, 3)

In [15]:
def test6(*vals):
    l1 = []
    for i in vals:
        if type(i) == list:
            l1.append(i)
    return l1

In [17]:
test6(1,2,3,4,[12,345,5,6],'asd',[12])

[[12, 345, 5, 6], [12]]

In [18]:
def test7(*,a,b):
    return a,b

In [21]:
test7(1,2)

TypeError: test7() takes 0 positional arguments but 2 were given

In [20]:
test7(a=1,b=2)

(1, 2)

In [33]:
def test8(**kwargs):
    return kwargs

In [34]:
test8(1,2,3)

TypeError: test8() takes 0 positional arguments but 3 were given

In [35]:
test8(a=1,b=2)

{'a': 1, 'b': 2}

In [39]:
def test9(a,**kwargs):
    return kwargs,a

In [40]:
test9(45,k=1,b=2)

({'k': 1, 'b': 2}, 45)

In [41]:
def test10(a,**raj,*r):
    return a,raj,r

SyntaxError: invalid syntax (3942209052.py, line 1)

In [43]:
def test11(a, *args, **kwargs):
    return a,args,kwargs

In [44]:
test11(12,12,23,56,23)

(12, (12, 23, 56, 23), {})

In [45]:
test11(12,12,23,56,23,i=11,j=12)

(12, (12, 23, 56, 23), {'i': 11, 'j': 12})

**Anonymous Function**

In [50]:
def test13(a,b): return a*b

In [51]:
test13(2,3)

6

In [7]:
a = lambda a,b : [a*b,a+b]

In [8]:
a(3,4)

[12, 7]

In [9]:
a = lambda *a : a

In [10]:
a(12,34,5,6,67,7)

(12, 34, 5, 6, 67, 7)

In [11]:
x = lambda *a : a*a

In [13]:
x(2)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [15]:
x= lambda *x: (for i in x: print(i))

SyntaxError: invalid syntax (3508035461.py, line 1)

In [16]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [20]:
x = lambda *x:[i for i in x]

In [22]:
x(4,4,5,6,6,7,7)

[4, 4, 5, 6, 6, 7, 7]

In [28]:
a = 10
def test16(c,d):
    a = 5
    return c*d

In [29]:
test16(a,50)

500

In [2]:
l1 = [1,2,3,4,56,78,7,88,7]

In [31]:
l2 = []
for i in l1:
    l2.append(i+2)
l2

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [33]:
[i+2 for i in l1]

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [36]:
a = lambda l1 : [i+2 for i in l1]

In [37]:
a(l1)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [3]:
 [i for i in l1 if i%2 == 1]

[1, 3, 7, 7]

In [4]:
a = lambda **kwargs : kwargs

In [8]:
a(a="asdas",b=23123)

{'a': 'asdas', 'b': 23123}

In [16]:
c=10 #Global declaration
def test16(c,d):
    c = 5 #Local declaration
    return c*d

In [17]:
test16(10,5)

25

In [18]:
c

10

In [20]:
c=10 #Global declaration
def test16(a,d):
    # c = 5 #Local declaration
    return c*d

In [21]:
test16(10,5)

50

In [22]:
[i for i in l1 if i%2 == 1 if i < 10]

[1, 3, 7, 7]

In [30]:
[i for i in l1 if i%2 == 1 and i < 5]

[1, 3]

In [31]:
tuple((i) for i in l1 if i%2 == 1 if i < 5)

(1, 3)

In [42]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [43]:
d1 = {}
for i in range(1,11):
    d1[i] = i**2

d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [48]:
(i for i in range(10))

In [49]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

***
Iterator, Generator and Iterable

Iterable - Object is holding the values with index. String, List is an iterbale object
Iterator - 

***

In [51]:
a= 56
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [52]:
a = "rajesh"
for i in a:
    print(i)

r
a
j
e
s
h

In [53]:
next(s)

NameError: name 's' is not defined

In [71]:
s= "rajesh"

In [72]:
i = iter(s) #iter function converts iterable to iterator

In [73]:
i

In [74]:
next(i)

'r'

In [75]:
next(i)

'a'